# Vercel AI Gateway API Key (https://vercel.com/ai-gateway)
AI_GATEWAY_API_KEY=

# Get the token provided from BotFather
TELEGRAM_BOT_TOKEN=

# Forward a message from the group to @userinfobot to get the group chat ID
TELEGRAM_CHAT_ID=

# Exa API Key (https://exa.ai/)
EXA_API_KEY=
